{% load static %}


<div class=" w-[701px] m-5 lg:mr-20 lg:mt-0 flex-grow">
    <div>
        <h1 class="my-6 text-2xl font-bold"><span class="bg-purple-600 p-1 text-white text-2xl font-bold">Recently</span> Posted</h1>
    </div>
    <ul id="recent_post_container"  class="max-tablet:grid flex-grow  ">
        {% for post in posts %}
        
        <li class="mb-4 shadow shadow-[#8f8080]">
            <article class="flex gap-1  flex-wrap tablet:flex-nowrap">
                <div class=" h-36 w-full max-lg:hidden lg:basis-1/5"><img class=" object-cover object-center h-full w-full " src="{{post.profile_image.url}}" alt=""></div>
                <div class=" p-1 rounded lg:self-center basis-4/5">
                    <p class="btn-style">Travel</p>
                    <h2 class="font-bold">{{post.title}}</h2>
                    <div data-title="about-article " >
                        <div class="flex gap-1 items-center">
                            <div class="w-5 h-5"><img class="rounded-full" src="{{post.author.author_image.url}}" alt="author profile image"></div>
                            <span class="inline-block w-px h-3 bg-slate-500"></span>
                            <h3 class="text-author"><a href="{% url "core:author" post.author.aid %}">{{post.author.user}}</a></h3>
                            <span class="inline-block w-px h-3 bg-slate-500"></span>
                            <p class="text-author"> <i class="bi bi-calendar-minus-fill text-sm"></i> {{post.publish|date:"d M Y"}}</p>
                            <span class="inline-block w-px h-3 bg-slate-500"></span>
                            <p class="text-author"><i class="bi bi-clock-fill text-sm"></i> {{post.reading_time}} to read</p>
                        </div>
                        <p class="text-[8px] lg:text-sm">{{post.description}}
                            .<a href="{% url "core:details" post.slug post.pid %}" class="btn-read-more text-white">Read More <i class="bi bi-arrow-right"></i></a>
                        </p>
                    </div>
                </div>
            </article>
        </li>
        {% endfor %}
    </ul>
    <div data-pagination>
        <button class=" text-center m-1 border border-purple-400 rounded hover:bg-purple-300 hover:text-yellow-50 p-1">
            <img src="{% static 'assets/images/arrow-right.png' %}" alt="" class=" w-1 h-1 inline "> Prev
        </button>

        <button class="w-10 border m-1 border-purple-300 rounded p-2 hover:bg-purple-200 text-gray-400 text-xs">1</button>
        <button class="w-10 border m-1 border-purple-300 rounded p-2 hover:bg-purple-200 text-gray-400 text-xs">2</button>
        <button class="w-10 border m-1 border-purple-300 rounded p-2 hover:bg-purple-200 text-gray-400 text-xs">3</button>
        <button class=" text-center m-1 border border-purple-400 rounded hover:bg-purple-300 hover:text-yellow-50 p-1">
            <img src="{% static 'assets/images/arrow-right.png' %}" alt="" class=" w-1 h-1 inline "> Next
        </button>
    </div>
</div>