{% extends "partials/base.html" %}
{% load static %}

{% block title %}User login{% endblock title %}

{% block content %}

<div class="top-20 relative">
    <form method="post" class="mx-6 lg:mx-96 space-y-2">
        <div class="flex flex-col gap-2 justify-center items-center">
            <h1 class="text-2xl text-purple-400 font-bold">Login Page </h1>
            <div class="w-32 h-32">
                <img class="rounded-full" src="{% static "assets/images/atain1.jpeg" %}" alt="">
            </div>
        </div>
        {% csrf_token %}
        <p class="w-full">
            <label class="text-black" for="id_email">Email</label><br>
            {{form.email}}
        </p>
        <p class="w-full">
            <label class="text-black" for="password_id">Password</label><br>
            {{form.password}}
        </p>
        <p>Forgetten password ? <a href="{% url "userauths:password-reset" %}" class="text-purple-600 hover:text-purple-200">Rest it</a></p>
        <div> <button class="bg-purple-400 p-2 rounded cursor-pointer  w-[100%] text-center text-white" typr="submit">Login </button>
        <p> Not having an account ? <a class="text-purple-500 hover:text-purple-300"  href="{% url "userauths:register" %}">Register</a></p>
    </form>
</div>

{% endblock content %}