{% extends "partials/base.html" %}
{% load static %}


{% block content %}

<main>
    <section class="text-center p-10 lg:p-20">
        <h1 class="text-purple-600 text-9xl font-bold ">
            500
        </h1>
        <p class="mb-2font-extralight">Internal Error</p> <br>

        <button class="capitalize text-purple-600 p-2 hover:text-purple-400 rounded font-bold"><img src="../../images/icons8-left-94.png" class="inline-block h-3 w-3" alt=""><a href="{% url "core:home" %}"> Back to Homepage</a></button>
    </section>
</main>
{% endblock content %}
