{% extends "partials/base.html" %}
{% load static %}

    <!-- header section end -->
{% block title %}Innoval blogging-{{author.user}}{% endblock title %}

    <!-- main section begining -->
{% block content %}
<main class="relative top-16">
    <!-- this section is about the author only -->
    <section class="bg-purple-50  flex flex-wrap p-5 max-lg:items-center  tablet:flex-nowrap gap-4 lg:p-20">
        <div class="xl:basis-1/3 flex-grow inline-flex max-lg:justify-center ">
            <img src="{{author.author_image.url}}" class=" max-lg:rounded-full rounded-md self-center max-lg:w-40" alt="image of franck detagne">
        </div>
        <div class="xl:basis-2/3 flex-grow xl:self-center text-center">
            <h1 class="font-bold text-2xl mb-4">{{author.user}}</h1>
            <p class="mb-4 text-center">
                {{author.description}}
            </p>
            <h2 class="text-xl font-bold mb-4">
                The best idear can change who you're
            </h2>
            <p class="text-gray-500 text-sm mb-4">
                {{author.agency_descript}}
                
            </p>
            <h3 class="font-bold text-sm mb-4">Follow me on</h3>
            <div>
                <span class="inline-block h-12 w-6"><a href=""><img class="inline-block" src="{% static 'images/face.png' %}" alt="social media"></a></span>
                <span class="inline-block h-12 w-6"><a href=""><img class="inline-block" src="{% static 'images/youtube.png' %}" alt="social media"></a></span>
                <span class="inline-block h-12 w-6"><a href=""><img class="inline-block" src="{% static 'images/linkedin.png' %}" alt="social media"></a></span>
            </div>
        </div>
    </section>

    <!-- About articles writes by authors -->               

    <section class="lg:px-24 p-5" >
        <h1 class="my-6 text-2xl"><span class="bg-purple-600 p-1 text-white">Read {{author.user}}</span> Blog articles</h1>
        <button class="shadow shadow-gray-200 rounded-md p-2 mb-2 font-bold text-xl capitalize">filter by  <img class="w-5 h-2 inline-block"  src="{% static "assets/images/angle-small-down.png" %}" alt=""></button>
        <div class="flex justify-between ">
            <div class="shadow shadow-purple-200 p-2 rounded-md space-y-2">
                <h3 class=" mb-2 font-bold capitalize">posts</span> </h3>

                <form id="my_form" action="{% url "core:ajax-author" author.aid %}" class="space-y-1">
                    {% for category in categories %}
                      
                          <div class="border border-gray-100 p-2 rounded-md">
                            <label class="  " for="{{category.cid}}">
                                <input data-filter="category" class="checkbox-filter inline w-10 focus:border-none focus:outline-none" type="checkbox" value="{{category.cid}}" id="{{category.cid}}" name="category">
                                {{category.title}}
                            </label><br>
                         </div>
                      
                    {% endfor %}
                </form>
            </div>
            {% comment %}
               <div>
                <h2>filter by <span>authors</span> <img class="w-5 h-2 inline-block"  src="{% static "assets/images/angle-small-down.png" %}" alt=""></h2>
                <div>
                    {% for author in authors %}
                      
                          <label class="" for="{{author.aid}}">
                              <input class="checkbox-filter inline w-10 focus:border-none focus:outline-none" type="checkbox" value="{{author.cid}}" id="{{author.cid}}" name="{{author.title}}">
                              {{author.user}}
                          </label><br>
                    
                      
                    {% endfor %}
                </div>
            </div> 
            {% endcomment %}
        </div>
        <div class="mt-4   grid grid-cols-1 text-xs  lg:grid-cols-[repeat(4,1fr)] gap-2" id="post_container">
            {% for post in posts%}
                <article class="inline-grid lg:w-72 max-md:text-xs  mb-5 shadow shadow-purple-300 p-1 rounded">
                    <div class="h-44 w-full hidden lg:block"><img class="rounded w-full  h-full object-cover object-top" src="{{post.profile_image.url}}" alt="banner image 1"></div>
                    <div>
                        <p class="btn-style">Travel</p>
                        <h2 class="max-md:text-sm m-1 font-bold">{{post.title}}</h2>
                        <div data-title="about-author " >
                            <div class="flex gap-1 items-center my-2">
                                    <div class="w-5 h-5"><img class="rounded-full" src="{{author.author_image.url}}" alt="author profile image"></div>
                                    <span class="inline-block w-px h-3 bg-slate-500"></span>
                                    <h3 class="text-author">{{post.author.user}}</h3>
                                    <span class="inline-block w-px h-3 bg-slate-500"></span>
                                    <p class="text-author"> <img src="{% static '../../images/fi-rr-calendar.svg' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> {{post.publish|date:"d M Y"}}</p>
                                    <span class="inline-block w-px h-3 bg-slate-500"></span>
                                    <p class="text-author"><img src="{% static '../../images/fi-rr-clock-two-thirty.svg' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> {{post.reading_time}}</p>
                            </div>
                            <p class="text-[0.75rem]">{{post.description}}  <a href="{% url "core:details" post.slug post.pid %}" class="btn-read-more">Read More <img class="inline-block w-[12px] h-[12px] " src="{% static '../../images/arrow-right.png' %}" alt=""></a>
                            </p>
                            
                        </div>
                    </div>
                </article>
            
            {% endfor %}
           
        </div>
    </section>
</main>

{% endblock content %}
    <!-- end main section -->

    <!-- footer begining -->
