{% extends "partials/base.html" %}
{% load static %}

{% block header %}
  <title>Edit profile {{request.user}}</title>
{% endblock header %}
{% block content %}
<section class="bg-gray-200  rounded-md mt-20">
    <div class="flex gap-5 lg:px-6 p-4">
         <h1 class="text-2xl font-bold text-purple-700">
      
          Edit profile
        </h1>
      <!--   <div class="flex gap-4">
          <div class="text-white">
              <button type="button" id="submitBtnFake" class="hover:bg-purple-500 p-1 hover:transition-all duration-100 rounded border border-purple-600 transition-all text-purple-500 hover:text-white ">Save Change</button>
          </div>
          
        </div> -->
    </div>

  <!-- post form creation -->
  <section class="lg:px-6 p-4">
  
      <form action="{% url "core:edit-profile" request.user.id request.user.username  %}" enctype="multipart/form-data" method="post" class="">
               {% csrf_token %}
              <div class=" lg:flex gap-10 ">
                  <fieldset class="space-y-3 bg-white rounded-md p-4 basis-2/3">
                      <h3 class="text-xl text-gray-400">User Credentials</h3>

                      <hr>
                          <p>
                              <label for="id_name">Uer Name:<span class="text-red-600">*</span></label> <br>
                              {{form.username}}
                          </p>
                          <p>
                              <label for="id_email">Your author email: <span class="text-red-600">*</span></label> <br>
                              {{form.email}}
                          </p>
                       

                  </fieldset>
                  <fieldset class="space-y-3  rounded-md  basis-1/2">
                    <div class="bg-white p-4 rounded-md">
                      <h3 class="text-xl text-gray-400">Profile Image</h3>
                      <hr>
                      <img src="{{request.user.profile_image.url}}" class="w-20 h-20 m-auto rounded-md" alt="">
                      <p>
                          {{form.profile_image}}
                      </p>
                    </div>
                    
                    
                  </fieldset>
              </div>
              
              <div class="flex gap-4 mt-4">
                 <!--  <div class="text-white">
                      <button type="submit" class="hover:bg-purple-500 p-1 hover:transition-all duration-100 rounded border border-purple-600 transition-all text-purple-500 hover:text-white">Save And Continous</button>
                  </div> -->
                  <div class="text-white">
                      <button type="submit" id="submitBtn" class="bg-purple-500 p-1 rounded hover:translate-y-1 hover:bg-purple-900">Save Changes</button>
                  </div>
                </div>
      </form>
  </section>

   
  </section>
{% endblock content %}
  

