{% extends "partials/base.html" %}
{% load blog_tags %}
{% load static %}


{% block content %}
<main class="md:max-tablet:mx-20 relative top-16">
    
    <section class="bg-purple-50 p-5 lg:p-0 tablet:flex lg:px-20 ">
        <div class="p-1" class="bg-purple-100 p-5 lg:p-0 lg:flex lg:px-[60px]">
            <h1 class="my-6 text-black text-2xl font-bold"><span class="bg-purple-600 p-1 text-white">Featured</span> this month</h1>
            <div data-container-1 class=" flex flex-wrap lg:flex-nowrap gap-3">
                
                {% for post in posts %}
                <article class=" w-64 max-md:text-xs flex-col lg:w-72 mb-5 shadow flex-grow shadow-[#fdf7f7] p-1 rounded">
                    <p class="btn-style">Travel</p>
                    <h2 class="text-[1.1rem] font-bold my-4 cursor-pointer" title="{{post.title}}">{{post.title|truncatewords:4}}</h2>
                    <div class=" mb-4 lg:w-auto h-52 w-full"><img class="rounded-xl w-full h-full object-cover object-center " src="{{post.profile_image.url}}" alt="banner image 1"></div>
                    <div data-title="about-author " >
                        <div class="flex gap-1 items-center my-4">
                            <div class="w-5 h-5"><img class="rounded-full" src="{{post.author.author_image.url}}" alt="author profile image"></div>
                            <span class="inline-block w-px h-3 bg-slate-500"></span>
                            <h3 class="text-author"><a href="{% url "core:author" post.author.aid %}">{{post.author.user|truncatewords:1}}</a></h3>
                            <span class="inline-block w-px h-3 bg-slate-500"></span>
                            <p class="text-author"> <img src="{% static 'assets/images/fi-rr-calendar.svg' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> {{post.publish|date:"D,M Y"}}</p>
                            <span class="inline-block w-px h-3 bg-slate-500"></span>
                            <p class="text-author"><img src="{% static 'assets/images/face.png' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> {{post.reading_time}} to read</p>
                        </div>
                        <p class="text-[0.75rem] font-semibold">{{post.description|truncatechars:50|safe}}  <a class="text-purple-400 hover:text-purple-500 cursor-pointer" href="{% url "core:details" post.slug post.pid %}" >Read More <img class="inline-block w-[12px] h-[12px] " src="{% static 'assets/images/arrow-right.png' %}" alt=""></a>
                        </p>
                    </div>
                </article>
                
                {% endfor %}
              
                
            </div>
            <div data-btn-container-feature>

            </div>
        </div>
        <div class="hidden tablet:block py-6 mx-10 ">
            
            <div class=" w-[3px] h-[217px] rounded-xl bg-purple-400"></div>
            <div class=" w-[1px] h-[217px] rounded-xl bg-gray-300"></div>
        </div>
        <aside class=" mb-5">
            <h1 class="my-6 text-2xl font-bold"><span class="bg-purple-600 p-1 text-white">Popular</span>post</h1>
            {% popular_post as p_posts %}
              <ul data-slide-container class="relative border-decoration">
                    {% for post in p_posts %}
                    <li data-slide-items class="mb-4 shadow shadow-[#8f8080] p-1 rounded">
                        <p class="btn-style">Travel</p>
                        <h2>{{post.title}}</h2>
                        <div data-title="about-author " >
                            <div class="flex gap-1 items-center my-6">
                                <div class="w-5 h-5"><img class="rounded-full" src="{{post.author.author_image.url}}" alt="author profile image"></div>
                                <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                                <h3 class="text-author"><a href="{% url "core:author" post.author.aid %}">{{post.author.user}}</a></h3>
                                <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                                <p class="text-author"> <img src="{% static 'assets/images/fi-rr-calendar.svg' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt="">{{post.publish|date:"d M Y"}}</p>
                                <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                                <p class="text-author"><img src="{% static 'assets/images/face.png' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> {{post.reading_time}} to read</p>
                            </div>
                            <p class="text-[0.75rem]">{{post.description}}
                                .<a href="{% url "core:details" post.slug post.pid %}" class="btn-read-more">Read More <img class="inline-block w-[12px] h-[12px] " src="{% static 'assets/images/arrow-right.png' %}" alt=""></a>
                            </p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            <div data-btn-container class="pagination">
                <span class="mr-1 rounded-full inline-block w-[15px] h-2 bg-purple-500"></span>
                <span class="mr-1 rounded-full inline-block w-[8px] h-2 bg-gray-400"></span>
                <span class="mr-1 rounded-full inline-block w-[8px] h-2 bg-gray-400"></span>
                <span class="mr-1 rounded-full inline-block w-[8px] h-2 bg-gray-400"></span>
            </div>
        </aside>
        
    </section>
    <section class="flex  flex-wrap tablet:flex-nowrap  lg:px-20">
        {% show_latest_post 10 %}
        {% include "partials/aside.html" %}
    </section>
</main>
{% endblock content %}