{% extends "partials/base.html" %}
{% load blog_tags %}
{% load static %}


{% block content %}
<main class="md:max-tablet:mx-20 relative top-16">
    <h1 class="bg-black font-bold text-2xl">You have already visit that site "{{num_visits}}"  </h1>
    <section class="bg-purple-50 p-5 lg:p-0 tablet:flex lg:px-20 ">
        <div class="p-1" class="bg-purple-100 p-5 lg:p-0 lg:flex lg:px-[60px]">
            <h1 class="my-6 text-black text-2xl font-bold"><span class="bg-purple-600 p-1 text-white">Featured</span> this month</h1>
            <div data-container-1 class=" flex flex-wrap lg:flex-nowrap gap-3">
                
                {% for post in posts %}
                <article class=" w-64 max-md:text-xs flex-col lg:w-72 mb-5 shadow flex-grow shadow-[#fdf7f7] p-1 rounded">
                    <p class="btn-style">Travel</p>
                    <h2 class="text-[1.1rem] font-bold my-4 cursor-pointer" title="{{post.title}}">{{post.title|truncatewords:4}}</h2>
                    <div class=" mb-4 lg:w-auto h-52 w-full"><img class="rounded-xl w-full h-full object-cover object-center " src="{{post.profile_image.url}}" alt="banner image 1"></div>
                    <div data-title="about-author " >
                        <div class="flex gap-1 items-center my-4">
                            <div class="w-5 h-5"><img class="rounded-full" src="{{post.author.author_image.url}}" alt="author profile image"></div>
                            <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                            <h3 class="text-author"><a href="../../html/blog/about_authors.html">{{post.author.user|truncatewords:1}}</a></h3>
                            <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                            <p class="text-author"> <img src="{% static 'assets/images/fi-rr-calendar.svg' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> {{post.publish|date:"D,M Y"}}</p>
                            <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                            <p class="text-author"><img src="{% static 'assets/images/face.png' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> {{post.reading_time}} to read</p>
                        </div>
                        <p class="text-[0.75rem] font-semibold">{{post.description|truncatechars:50|safe}}  <a class="text-purple-400 hover:text-purple-500 cursor-pointer" href="{% url "core:details" post.slug post.pid %}" >Read More <img class="inline-block w-[12px] h-[12px] " src="{% static 'assets/images/arrow-right.png' %}" alt=""></a>
                        </p>
                    </div>
                </article>
                
                {% endfor %}
              
                
            </div>
            <div data-btn-container-feature>

            </div>
        </div>
        <div class="hidden tablet:block py-6 mx-10 ">
            
            <div class=" w-[3px] h-[217px] rounded-xl bg-purple-400"></div>
            <div class=" w-[1px] h-[217px] rounded-xl bg-gray-300"></div>
        </div>
        <aside class=" mb-5">
            <h1 class="my-6 text-2xl font-bold"><span class="bg-purple-600 p-1 text-white">Popular</span>post</h1>
              <ul data-slide-container class="relative border-decoration">
                    <li data-slide-items class="mb-4 shadow shadow-[#8f8080] p-1 rounded">
                        <p class="btn-style">Travel</p>
                        <h2>Trip  to wexes 1</h2>
                        <div data-title="about-author " >
                            <div class="flex gap-1 items-center my-6">
                                <div class="w-5 h-5"><img class="rounded-full" src="{% static 'assets/images/10.jpeg' %}" alt="author profile image"></div>
                                <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                                <h3 class="text-author"><a href="../../html/blog/about_authors.html">Joe Doe</a></h3>
                                <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                                <p class="text-author"> <img src="{% static 'assets/images/fi-rr-calendar.svg' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> 19 August 2024</p>
                                <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                                <p class="text-author"><img src="{% static 'assets/images/face.png' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> 3 min to read</p>
                            </div>
                            <p class="text-[0.75rem]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ab non 
                                rerum! Vitae dolorum maiores dicta iure quae, consectetur labore! 
                                .<span class="btn-read-more">Read More <img class="inline-block w-[12px] h-[12px] " src="{% static 'assets/images/arrow-right.png' %}" alt=""></span>
                            </p>
                        </div>
                    </li>
                    <li data-slide-items class="mb-4 shadow shadow-[#8f8080] p-1 rounded">
                        <p class="btn-style">Travel </p>
                        <h2>Trip  to wexes 2</h2>
                        <div data-title="about-author " >
                            <div class="flex gap-1 items-center my-6">
                                <div class="w-5 h-5"><img class="rounded-full" src="{% static 'assets/images/11.jpg' %}" alt="author profile image"></div>
                                <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                                <h3 class="text-author"><a href="../../html/blog/about_authors.html">Joe Doe</a></h3>
                                <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                                <p class="text-author"> <img src="{% static 'assets/images/fi-rr-calendar.svg' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> 19 August 2024</p>
                                <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                                <p class="text-author"><img src="{% static 'assets/images/face.png' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> 3 min to read</p>
                            </div>
                            <p class="text-[0.75rem]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ab non 
                                rerum! Vitae dolorum maiores dicta iure quae, consectetur labore! 
                                .<span class="btn-read-more">Read More <img class="inline-block w-[12px] h-[12px] " src="{% static 'assets/images/arrow-right.png' %}" alt=""></span>
                            </p>
                        </div>
                    </li>
                    <li data-slide-items class="mb-4 shadow shadow-[#8f8080] p-1 rounded">
                        <p class="btn-style">Travel</p>
                        <h2>Trip  to wexes 3</h2>
                        <div data-title="about-author " >
                            <div class="flex gap-1 items-center my-6">
                                <div class="w-5 h-5"><img class="rounded-full" src="{% static 'assets/images/3.jpeg' %}" alt="author profile image"></div>
                                <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                                <h3 class="text-author"><a href="../../html/blog/about_authors.html">Joe Doe</a></h3>
                                <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                                <p class="text-author"> <img src="{% static 'assets/images/fi-rr-calendar.svg' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> 19 August 2024</p>
                                <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                                <p class="text-author"><img src="{% static 'assets/images/face.png' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> 3 min to read</p>
                            </div>
                            <p class="text-[0.75rem]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ab non 
                                rerum! Vitae dolorum maiores dicta iure quae, consectetur labore! 
                                .<span class="btn-read-more">Read More <img class="inline-block w-[12px] h-[12px] " src="{% static 'assets/images/arrow-right.png' %}" alt=""></span>
                            </p>
                        
                        </div>
                    </li>
                    <li data-slide-items class="mb-4 shadow shadow-[#8f8080] p-1 rounded">
                        <p class="btn-style">Travel</p>
                        <h2>Trip  to wexes 4</h2>
                        <div data-title="about-author " >
                            <div class="flex gap-1 items-center my-6">
                                <div class="w-5 h-5"><img class="rounded-full" src="{% static 'assets/images/3.jpeg' %}" alt="author profile image"></div>
                                <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                                <h3 class="text-author"><a href="../../html/blog/about_authors.html">Joe Doe</a></h3>
                                <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                                <p class="text-author"> <img src="{% static 'assets/images/fi-rr-calendar.svg' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> 19 August 2024</p>
                                <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                                <p class="text-author"><img src="{% static 'assets/images/face.png' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> 3 min to read</p>
                            </div>
                            <p class="text-[0.75rem]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ab non 
                                rerum! Vitae dolorum maiores dicta iure quae, consectetur labore! 
                                .<span class="btn-read-more">Read More <img class="inline-block w-[12px] h-[12px] " src="{% static 'assets/images/arrow-right.png' %}" alt=""></span>
                            </p>
                        
                        </div>
                    </li>
                    <li data-slide-items class="mb-4 shadow shadow-[#8f8080] p-1 rounded">
                        <p class="btn-style">Travel</p>
                        <h2>Trip  to wexes 5</h2>
                        <div data-title="about-author " >
                            <div class="flex gap-1 items-center my-6">
                                <div class="w-5 h-5"><img class="rounded-full" src="{% static 'assets/images/3.jpeg' %}" alt="author profile image"></div>
                                <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                                <h3 class="text-author"><a href="../../html/blog/about_authors.html">Joe Doe</a></h3>
                                <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                                <p class="text-author"> <img src="{% static 'assets/images/fi-rr-calendar.svg' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> 19 August 2024</p>
                                <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                                <p class="text-author"><img src="{% static 'assets/images/face.png' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> 3 min to read</p>
                            </div>
                            <p class="text-[0.75rem]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ab non 
                                rerum! Vitae dolorum maiores dicta iure quae, consectetur labore! 
                                .<span class="btn-read-more">Read More <img class="inline-block w-[12px] h-[12px] " src="{% static 'assets/images/arrow-right.png' %}" alt=""></span>
                            </p>
                        
                        </div>
                    </li>
                    <li data-slide-items class="mb-4 shadow shadow-[#8f8080] p-1 rounded">
                        <p class="btn-style">Travel</p>
                        <h2>Trip  to wexes 6</h2>
                        <div data-title="about-author " >
                            <div class="flex gap-1 items-center my-6">
                                <div class="w-5 h-5"><img class="rounded-full" src="{% static 'assets/images/3.jpeg' %}" alt="author profile image"></div>
                                <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                                <h3 class="text-author"><a href="../../html/blog/about_authors.html">Joe Doe</a></h3>
                                <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                                <p class="text-author"> <img src="{% static 'assets/images/fi-rr-calendar.svg' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> 19 August 2024</p>
                                <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                                <p class="text-author"><img src="{% static 'assets/images/face.png' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> 3 min to read</p>
                            </div>
                            <p class="text-[0.75rem]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ab non 
                                rerum! Vitae dolorum maiores dicta iure quae, consectetur labore! 
                                .<span class="btn-read-more">Read More <img class="inline-block w-[12px] h-[12px] " src="{% static 'assets/images/arrow-right.png' %}" alt=""></span>
                            </p>
                        
                        </div>
                    </li>
                    <li data-slide-items class="mb-4 shadow shadow-[#8f8080] p-1 rounded">
                        <p class="btn-style">Travel</p>
                        <h2>Trip  to wexes 7</h2>
                        <div data-title="about-author " >
                            <div class="flex gap-1 items-center my-6">
                                <div class="w-5 h-5"><img class="rounded-full" src="{% static 'assets/images/3.jpeg' %}" alt="author profile image"></div>
                                <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                                <h3 class="text-author"><a href="../../html/blog/about_authors.html">Joe Doe</a></h3>
                                <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                                <p class="text-author"> <img src="{% static 'assets/images/fi-rr-calendar.svg' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> 19 August 2024</p>
                                <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                                <p class="text-author"><img src="{% static 'assets/images/face.png' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> 3 min to read</p>
                            </div>
                            <p class="text-[0.75rem]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ab non 
                                rerum! Vitae dolorum maiores dicta iure quae, consectetur labore! 
                                .<span class="btn-read-more">Read More <img class="inline-block w-[12px] h-[12px] " src="{% static 'assets/images/arrow-right.png' %}" alt=""></span>
                            </p>
                        
                        </div>
                    </li>
                    
                </ul>
            <div data-btn-container class="pagination">
                <span class="mr-1 rounded-full inline-block w-[15px] h-2 bg-purple-500"></span>
                <span class="mr-1 rounded-full inline-block w-[8px] h-2 bg-gray-400"></span>
                <span class="mr-1 rounded-full inline-block w-[8px] h-2 bg-gray-400"></span>
                <span class="mr-1 rounded-full inline-block w-[8px] h-2 bg-gray-400"></span>
            </div>
        </aside>
        
    </section>
    <section class="flex  flex-wrap tablet:flex-nowrap  lg:px-20">
        {% show_latest_post 10 %}
        <aside data-title="" class="tablet:ml-10 max-lg:m-5 ">
            <h3 class="my-6 text-2xl font-bold"><span class="bg-purple-600 p-1 text-white text-2xl font-bold">Top</span> Authors</h3>
            <ul data-title="author-and-ads">
                <li class="flex gap-5 mb-5">
                    <div class="h-16 w-16"><img src="{% static 'assets/images/3.jpeg' %}" class="rounded-full" alt="profile picture of franck detagne"></div>
                    <div data-title="author-info">
                        <h4 class="text-sm font-bold"><a href="../../html/blog/about_authors.html">Joe Doe</a></h4>
                        <div class="text-gray-400 text-sm mb-1">Fashion,Designer,Blogger,Activist</div>
                        <div class="">
                            <button class="mr-3  hover:text-yellow-50"><img src="{% static 'assets/images/face.png' %}" alt="" class="w-4 h-auto"></button>
                            <button class="mr-3  hover:text-yellow-50"><img src="{% static 'assets/images/youtube.png' %}" alt="" class="w-4 h-auto"></button>
                            <button class="mr-3  hover:text-yellow-50"><img src="{% static 'assets/images/wha.png' %}" alt="" class="w-4 h-auto"></button>
                        </div>
                    </div>
                </li>
                <li class="flex gap-5 mb-5">
                        <div class="h-16 w-16"><img src="{% static 'assets/images/3.jpeg' %}" class="rounded-full" alt="profile picture of franck detagne"></div>
                        <div data-title="author-info">
                            <h4 class="text-sm font-bold"><a href="../../html/blog/about_authors.html">Joe Doe</a></h4>
                            <div class="text-gray-400 text-sm mb-1">Fashion,Designer,Blogger,Activist</div>
                            <div class="">
                                <button class="mr-3 border  hover:text-yellow-50"><img src="{% static 'assets/images/face.png' %}" alt="" class="w-4 h-auto"></button>
                                <button class="mr-3 border  hover:text-yellow-50"><img src="{% static 'assets/images/youtube.png' %}" alt="" class="w-4 h-auto"></button>
                                <button class="mr-3 border  hover:text-yellow-50"><img src="{% static 'assets/images/wha.png' %}" alt="" class="w-4 h-auto"></button>
                            </div>
                        </div>
                </li>
                <li class="flex gap-5 mb-5">
                        <div class="h-16 w-16"><img src="{% static 'assets/images/3.jpeg' %}" class="rounded-full" alt="profile picture of franck detagne"></div>
                        <div data-title="author-info">
                            <h4 class="text-sm font-bold"><a href="../../html/blog/about_authors.html">Joe Doe</a></h4>
                            <div class="text-gray-400 text-sm mb-1">Fashion,Designer,Blogger,Activist</div>
                            <div class="">
                                <button class="mr-3 border  hover:text-yellow-50"><img src="{% static 'assets/images/face.png' %}" alt="" class="w-4 h-auto"></button>
                                <button class="mr-3 border  hover:text-yellow-50"><img src="{% static 'assets/images/youtube.png' %}" alt="" class="w-4 h-auto"></button>
                                <button class="mr-3 border  hover:text-yellow-50"><img src="{% static 'assets/images/wha.png' %}" alt="" class="w-4 h-auto"></button>
                            </div>
                        </div>
                </li>
            </ul>
            <div data-title="add"  class=" bg-purple-700 w-auto lg:w-96 p-10 rounded-xl text-white relative">
                <h3 class="mb-3 font-bold text-xl ">Want to visit Cameroun?</h3> <span class="absolute right-0 mr-3 top-4">Ad</span>
                <p class="mb-3 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod praesentium tempore,
                    
                </p>
                <div>
                    <span class="bg-white text-purple-600 p-2 rounded"><a href="../blog/contact.html">Contact Us</a></span>
                </div>

            </div>
            <div data-title="Categories" class="mt-5">
                <h2 class="text-2xl"><span class="font-medium text-white bg-purple-600">Categories</span></h2>
               <div>
                    <div data-title="Categories-detail " class="flex justify-between my-3">
                        <h3>Lifestyle</h3>
                        <p>04</p>
                    </div>
                    <hr>
               </div>
               <div>
                    <div data-title="Categories-detail " class="flex justify-between my-3">
                        <h3>Travel</h3>
                        <p>05</p>
                    </div>
                    <hr>
               </div>
               <div>
                    <div data-title="Categories-detail " class="flex justify-between my-3">
                        <h3>Food</h3>
                        <p>09</p>
                    </div>
                    <hr>
               </div>
               <div>
                    <div data-title="Categories-detail " class="flex justify-between my-3">
                        <h3>Healtcare</h3>
                        <p>10</p>
                    </div>
                    <hr>
               </div>
               <div>
                    <div data-title="Categories-detail " class="flex justify-between my-3">
                        <h3>Technologie</h3>
                        <p>03</p>
                    </div>
                    <hr>
               </div>
            </div>
            <div data-title="updates">
                <h3 class="my-6 text-2xl font-bold"><span class="bg-purple-600 p-1 text-white text-2xl font-bold">Today's</span> Updates</h3>
                <div data-title=" updates-grid" class=" grid grid-cols-2   gap-2">
                    <div class="bg-purple-200 rounded text-center align-middle text-sm  font-bold py-4" >
                        <h4 class="font-extrabold text-purple-700 text-xl mb-1">14</h4>
                        <p class="text-xs">New Posts</p>
                    </div>
                    <div class="bg-purple-200 rounded text-center align-middle text-sm  font-bold py-4">
                        <h4 class="font-extrabold text-purple-700 text-xl mb-1">480</h4>
                        <p class="text-xs">News visitors</p>
                    </div>
                    <div class="bg-purple-200 rounded text-center align-middle text-sm  font-bold py-4">
                        <h4 class="font-extrabold text-purple-700 text-xl mb-1">29</h4>
                        <p class="text-xs">News suscribers</p>
                    </div>
                    <div class="bg-purple-200 rounded text-center align-middle text-sm  font-bold py-4">
                        <h4 class="font-extrabold text-purple-700 text-xl mb-1">138</h4>
                        <p class="text-xs">Blog Read</p>
                    </div>
                   
                </div>
            </div>
            <div data-title="insta-post" class="">
                <h3 class="my-6 text-2xl font-bold"><span class="bg-purple-600 p-1 text-white text-2xl font-bold">Instagram</span> Posts</h3>
                <div  class="grid grid-cols-4 gap-3">
                    <div class="w-16 lg:w-24 bg-green-200 inline-grid rounded"><img src="{% static 'assets/images/2.jpeg' %}" class="rounded" alt=""></div>
                    <div class="w-16 lg:w-24 bg-green-200 inline-grid rounded"><img src="{% static 'assets/images/2.jpeg' %}" class="rounded" alt=""></div>
                    <div class="w-16 lg:w-24 bg-green-200 inline-grid rounded"><img src="{% static 'assets/images/2.jpeg' %}" class="rounded" alt=""></div>
                    <div class="w-16 lg:w-24 bg-green-200 inline-grid rounded"><img src="{% static 'assets/images/2.jpeg' %}" class="rounded" alt=""></div>
                    <div class="w-16 lg:w-24 bg-green-200 inline-grid rounded"><img src="{% static 'assets/images/2.jpeg' %}" class="rounded" alt=""></div>
                    <div class="w-16 lg:w-24 bg-green-200 inline-grid rounded"><img src="{% static 'assets/images/2.jpeg' %}" class="rounded" alt=""></div>
                    <div class="w-16 lg:w-24 bg-green-200 inline-grid rounded"><img src="{% static 'assets/images/2.jpeg' %}" class="rounded" alt=""></div>
                    <div class="w-16 lg:w-24 bg-green-200 inline-grid rounded"><img src="{% static 'assets/images/2.jpeg' %}" class="rounded" alt=""></div>
                    <div class="w-16 lg:w-24 bg-green-200 inline-grid rounded"><img src="{% static 'assets/images/2.jpeg' %}" class="rounded" alt=""></div>
                </div>
            </div>
            <div class="Search-tags">
                <h3 class="my-6 text-2xl font-bold capitalize"><span class="bg-purple-600 p-1 text-white text-2xl font-bold">search</span> With Tags</h3>
                <div>
                    <button class="border m-1 border-purple-300 rounded p-2 transition ease-in-out delay-[0.2s] hover:bg-purple-200 text-gray-400 text-xs">Fashion</button>
                    <button class="border m-1 border-purple-300 rounded p-2 transition ease-in-out delay-[0.2s] hover:bg-purple-200 text-gray-400 text-xs">Travel</button>
                    <button class="border m-1 border-purple-300 rounded p-2 transition ease-in-out delay-[0.2s] hover:bg-purple-200 text-gray-400 text-xs">Lifestyle</button>
                    <button class="border m-1 border-purple-300 rounded p-2 transition ease-in-out delay-[0.2s] hover:bg-purple-200 text-gray-400 text-xs">Technology</button>
                    <button class="border m-1 border-purple-300 rounded p-2 transition ease-in-out delay-[0.2s] hover:bg-purple-200 text-gray-400 text-xs">Business</button>
                    <br>
                    <button class="border m-1 border-purple-300 rounded  transition ease-in-out delay-[0.2s] p-2 hover:bg-purple-200  text-gray-400 text-xs">Design</button>
                    <button class="border m-1 border-purple-300 rounded  transition ease-in-out delay-[0.2s] p-2 hover:bg-purple-200  text-gray-400 text-xs">Art</button>
                    <button class="border m-1 border-purple-300 rounded  transition ease-in-out delay-[0.2s] p-2 hover:bg-purple-200  text-gray-400 text-xs">Healt</button>
                    <button class="border m-1 border-purple-300 rounded  transition ease-in-out delay-[0.2s] p-2 hover:bg-purple-200  text-gray-400 text-xs">Sport</button>
                </div>
            </div>
        </aside>
    </section>
</main>
{% endblock content %}