{% extends "partials/base.html" %}
{% load static %}

{% block title %}{{post.title}}{% endblock title %}
{% block content %}
<main class="relative top-16">
    <!-- single blog post section -->
    <div class="lg:px-32 lg:py-5 p-5   tablet:flex gap-4">
        <section class="xl:basis-2/3 max-tablet:flex-grow  ">
            <!-- the main articles -->
                <h1 class="my-6 text-black font-bold text-2xl text-start capitalize">{{post.title}} </h1>
                <article class="text-xl text-black mb-4">
                    
                    <!-- about the author blog code -->
                    <div class="flex gap-1 items-center my-4">
                        <div class="w-5 h-5"><img class="rounded-full" src="{{post.author.author_image.url}}" alt="author profile image"></div>
                        <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                        <h3 class="text-author"><a href="../../html/blog/about_authors.html">{{post.author.user}}</a></h3>
                        <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                        <p class="text-author"> <img src="{% static 'assets/images/fi-rr-calendar.svg' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> {{post.publish|date:"D,M Y"}}</p>
                        <span class="inline-block w-[1px] h-3 bg-slate-500"></span>
                        <p class="text-author"><img src="{% static 'assets/images/fi-rr-clock-two-thirty.svg' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> {{post.reading_time}} to read</p>
                    </div>
                    <div class="w-full max-lg:h-64  tablet:h-96 my-3"><img src="{{post.profile_image.url}}" class="w-full h-full  object-cover object-right-top rounded-xl" alt=""></div>
                    <!-- litle intrroduction about the text -->
                   <div>
                        {{post.content|safe}}
                   </div>
                </article>
                <hr>
                <div class="bg-gray-200 shadow py-3 rounded flex justify-between items-center text-xl">
                    <button type="button" class="inline px-2 text-center mr-4 hover:bg-purple-100 hover:rounded-t focus:bg-purple-300" >
                        <span class="material-symbols-outlined">thumb_up</span> 
                    </button>
                    <button type="button" class="inline px-2 text-center mr-4 hover:bg-purple-100 hover:rounded-t focus:bg-purple-300" >
                        <span class="material-symbols-outlined">
                            thumb_down
                            </span>
                    </button>
                    <button type="button" class="inline px-2 text-center mr-4 hover:bg-purple-100 hover:rounded-t focus:bg-purple-300" >
                        <span class="material-symbols-outlined">
                            share
                            </span>
                    </button>
                    <button type="button" id="btn_btn_comment" class="inline-flex gap-1 shown-description  text-center mr-4 " >
                        <span class="font bold">{{comments.count}}</span>
                        <span class="material-symbols-outlined">comment</span>
                    </button>
                </div>
                <!-- this section is different for the for the article blog it's the reason to why it's outside the article block -->
                
                <!-- this div here is the footer part of the main section it contain comment privacy policy and link of social media
                    we'll design it using tailwind css 'tailwind with flexbox' 
                -->
                <div class="">
                  <div class="flex gap-3">
                    <div data-btn-slide class="w-[100%]">
                       
                        <div id="comment_container" class="descrpiton mt-2  hidden max-h-72 overflow-auto  break-words">
                            <form method="POST"  id='myForm' action='{% url "core:ajax_comment" post.pid %}' class="my-3 lg:w-[80%]">
                                {% csrf_token %}
                                {% if request.user.is_authenticated %}
                                    <div class="border  rounded  flex  items-center p-2 gap-1 justify-center">
                                        <p class="basis-4/5">
                                            <textarea rows="2" id="comment_input" class="border-none outline-none w-[100%]" name="content" placeholder=" Comment as {{request.user.username|title}}"></textarea>
                                        </p>
                                        <button type="submit" id='btnSubmit1' class="basis-1/5 p-1  rounded bg-purple-500 text-white hover:bg-purple-300 hover:text-gray-400">Comment</button> 
                                    </div>
                                {% else %}
                                    <p>
                                        <input type="email" name="email" required placeholder="  Your email">
                                    </p>
                                    <p>
                                        <input type="text" name="name" required placeholder="  Your name">
                                    </p>
                                    <p>
                                        <textarea name="content" id="content_id" rows="5" placeholder="  comment"></textarea>
                                    </p>
                                    <button type="submit" id='btnSubmit1' class="p-1  rounded bg-purple-500 text-white hover:bg-purple-300 hover:text-gray-400">Comment</button> 
                                {% endif %}
                            </form>
                            {% if comments %}
                                {% for comment in comments %}
                                
                                <div class="max-lg:text-xs border shadow rounded-xl mb-3 p-1 ">
                                    <div class="flex items-center gap-3">
                                        <div class="h-12 ">
                                            <img class=" rounded-full h-full w-full object-cover" src="{{request.user.profile_image.url}}">
                                        </div>
                                        <div class="">
                                           <div class="flex gap-4">
                                            <p class="font-bold">{{comment.name}}</p>
                                            <p>{{comment.comment_date|timesince}} ago </p>
                                           </div>
                                        </div>
                                        
                                    </div>
                                    <div class="relative ml-14">
                                        <!--content of the comment-->
                                        
                                        <div class="">
                                            {{comment.content|safe}}
                                        </div>
                                        
                                        <div class="mt-2">
                                            <button class="bg-gray-300 rounded-xl p-1 w-20 hover:bg-gray-300">Like 12</button>
                                            <button class="bg-gray-300 rounded-xl p-1 w-20 hover:bg-gray-300">Dislike 1</button>
                                            <button class="bg-gray-300 rounded-xl p-1 w-20 hover:bg-gray-300">reply 30</button>
                        
                                        </div>
                                        <!--Comment reply-->
                                        {% comment %} <div class="mt-3 border shadow rounded-xl p-2 hidden">
                                            <div class="flex items-center gap-3">
                                                <div class="w-12 h-12 ">
                                                    <img class=" rounded-full h-full w-full object-cover" src="{% static "assets/images/3.jpeg" %}">
                                                </div>
                                                <div class="">
                                                   <div class="flex gap-4">
                                                    <p class="font-bold">{{comment.name}}</p>
                                                    <p>{{comment.comment_date|timesince}}</p>
                                                   </div>
                                                </div>
                                                
                                            </div>
                                            <div class="ml-14 relative">
                                                <!--content of the comment-->
                                                <p>
                                                    <span class="font-bold">Franck Detagne</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolorem porro labore eos earum omnis autem esse ducimus est 
                                                    velit amet,
                                                     quis impedit rem officiis ipsam nam veniam! Voluptate, quisquam!
                                                </p>
                                                <div class="mt-2">
                                                    <button class="bg-gray-100 rounded-xl p-1 w-20 hover:bg-gray-200">Like 12</button>
                                                    <button class="bg-gray-100 rounded-xl p-1 w-20 hover:bg-gray-200">Dislike 1</button>
                                                    <button class="bg-gray-100 rounded-xl p-1 w-20 hover:bg-gray-200">reply 30</button>
                                                    
                                                </div>
                                               </div>
                                            
                                    
                                    
                                        </div> {% endcomment %}
                                       </div>
                                    
                            
                            
                                </div>
                                {% empty %}
                                <p class="text-gray-500"> Be the first to comment </p>
                                {% endfor %}
                            
                            {% endif %}
                        </div>
                        <div class="descrpiton bg-purple-300 mt-0 p-4 hidden">
                            <h4 class="text-black font-bold text-sm">Add a title here 2</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt alias maxime aperiam soluta, 
                                molestiae aliquam illo vel? Eos, 
                                tenetur velit minus deleniti rem quam eaque nihil id? Reprehenderit, enim. Consectetur.
                            </p>
                        </div>
                        <div class="descrpiton bg-purple-300 mt-0 p-4 hidden">
                            <h4 class="text-black font-bold text-sm">Add a title here 3</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt alias maxime aperiam soluta, 
                                molestiae aliquam illo vel? Eos, 
                                tenetur velit minus deleniti rem quam eaque nihil id? Reprehenderit, enim. Consectetur.
                            </p>
                        </div>
                    </div>
                    
                  </div>
                 {% comment %}
                     <div class="flex justify-between ">
                    <div class="flex gap-10" >
                        <button class="block "><img class="h-5 w-5 inline" src="{% static 'assets/images/angle-small-down.png' %}" alt=""> favorite</button>
                        <button class="block "><img class="h-5 w-5 inline" src="{% static 'assets/images/face.png' %}" alt=""> facebook</button>
                        <button class="block "><img class="h-5 w-5 inline" src="{% static 'assets/images/youtube.png' %}" alt=""> twiter</button>
                        
                    </div>
                    <div>
                        Sort by <span class="inline-block h-12 w-6"><a href="#"><img class="inline-block" src="{% static 'assets/images/angle-small-down.png' %}" alt="social media"></a></span>
    
                    </div>
                  </div>
                 {% endcomment %}
                </div>
                <div id="btn_container">
                    <button type="button" class="shown-description inline px-2 text-center pb-3 mr-4 hover:bg-purple-100 hover:rounded-t focus:bg-purple-300" >themfisher</button>
                    <button type="button" class="shown-description inline px-2 text-center pb-3 mr-4 hover:bg-purple-100 hover:rounded-t focus:bg-purple-300" ><img src="{% static 'assets/images/fi-rr-clock-two-thirty.svg' %}" class="inline-block h-3 w-3" alt=""> discuss prvacy</button>
               </div>
             
                <section>
                        <div class="flex justify-between mt-4 items-center text-center">
                            <div class="h-px w-1/3 bg-gray-500"></div>
                            <div class="self-center relative ">
                                <button class="inline-block h-12 w-6"><a href=""><img class="inline-block" src="{% static 'assets/images/face.png' %}" alt="social media"></a></button>
                                <button class="inline-block h-12 w-6"><a href=""><img class="inline-block" src="{% static 'assets/images/youtube.png' %}" alt="social media"></a></button>
                                <button class="inline-block h-12 w-6"><a href=""><img class="inline-block" src="{% static 'assets/images/linkedin.png' %}" alt="social media"></a></button>
                                <button class="inline-block h-12 w-6"><a href=""><img class="inline-block" src="{% static 'assets/images/linkedin.png' %}" alt="social media"></a></button>
                            </div>
                            <div class="h-px w-1/3 bg-gray-500"></div>
                        </div>
                        <div class="">
                            <button title="share the post" class="inline-block h-12 w-6 "><a href=""><img class="inline-block" src="{% static 'assets/images/fi-rr-share.svg' %}" alt="social media"></a></button>
                        </div>
                        <article class="">
                            <h1 class="my-6 text-2xl font-bold"><span class="bg-purple-600 p-1 text-white text-2xl font-bold">Similar</span> Post</h1>
                            <div class="flex flex-wrap  lg:flex-nowrap gap-3 justify-between">
                                <article class="max-lg:shadow shadow-purple-300 inline-flex h-auto  max-md:text-xs  flex-col  mb-5 shadow  p-5 rounded">
                                    <p class="btn-style order-2 my-1">Travel</p>
                                    <h2 class="text-[1.1rem] font-bold order-3">Set the video play back style with Javascript</h2>
                                    <div class="max-lg:hidden block self-center w-full h-40   mb-2 order-1"><img class=" object-right-top object-cover w-full h-full rounded-xl " src="{% static 'assets/images/9.jpeg' %}" alt="banner image 1"></div>
                                    <div data-title="about-author" class="order-4" >
                                        <div class="flex gap-1 items-center my-1">
                                            <div class="w-5 h-5"><img class="rounded-full" src="{% static 'assets/images/3.jpeg' %}" alt="author profile image"></div>
                                            <span class="inline-block w-px h-3 bg-slate-500"></span>
                                            <h3 class="text-author"><a href="../../html/blog/about_authors.html">Joe Doe</a></h3>
                                            <span class="inline-block w-px h-3 bg-slate-500"></span>
                                            <p class="text-author"> <img src="{% static 'assets/images/fi-rr-calendar.svg' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> 19 August 2024</p>
                                            <span class="inline-block w-px h-3 bg-slate-500"></span>
                                            <p class="text-author"><img src="{% static 'assets/images/fi-rr-clock-two-thirty.svg' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> 3 min to read</p>
                                        </div>
                                        <p class="text-[0.75rem]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ab non 
                                            rerum! Vitae dolorum maiores dicta iure quae,   <span class="btn-read-more">Read More <img class="inline-block w-[12px] h-[12px] " src="{% static 'assets/images/arrow-right.png' %}" alt=""></span>
                                        </p>
                                    </div>
                                </article>
                            
                                <article class="max-lg:shadow shadow-purple-300 inline-flex  max-md:text-xs  flex-col  mb-5 shadow  p-5 rounded">
                                    <p class="btn-style order-2 my-1">Travel</p>
                                    <h2 class="text-sm font-bold order-3">Set the video play back style with Javascript</h2>
                                    <div class="max-lg:hidden self-center w-full h-40 mb-2 order-1"><img class="rounded-xl w-full h-full object-cover object-center " src="{% static 'assets/images/11.jpg' %}" alt="banner image 1"></div>
                                    <div data-title="about-author" class="order-4" >
                                        <div class="flex gap-1 items-center my-1">
                                            <div class="w-5 h-5"><img class="rounded-full" src="{% static 'assets/images/12.jpeg' %}" alt="author profile image"></div>
                                            <span class="inline-block w-px h-3 bg-slate-500"></span>
                                            <h3 class="text-author"><a href="../../html/blog/about_authors.html">Joe Doe</a></h3>
                                            <span class="inline-block w-px h-3 bg-slate-500"></span>
                                            <p class="text-author"> <img src="{% static 'assets/images/fi-rr-calendar.svg' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> 19 August 2024</p>
                                            <span class="inline-block w-px h-3 bg-slate-500"></span>
                                            <p class="text-author"><img src="{% static 'assets/images/fi-rr-clock-two-thirty.svg' %}" class=" bg-[#ccc] inline w-[12px] h-[12px]" alt=""> 3 min to read</p>
                                        </div>
                                        <p class="text-[0.75rem]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ab non 
                                            rerum! Vitae dolorum maiores dicta iure quae,   <span class="btn-read-more">Read More <img class="inline-block w-[12px] h-[12px] " src="{% static 'assets/images/arrow-right.png' %}" alt=""></span>
                                        </p>
                                    </div>
                                </article>
                            </div>
                        </article>
                 </section>
       
                
                <!-- this div here is the footer part of the main section it contain comment privacy policy and link of social media
                    we'll design it using tailwind css 'tailwind with flexbox' 
                -->
                <div class="">
                 
                  <div class="flex justify-between">
                    <div class="flex gap-10" >
                        <button class="block "><img class="h-5 w-5 inline" src="{% static 'assets/images/angle-small-down.png' %}" alt=""> favorite</button>
                        <button class="block "><img class="h-5 w-5 inline" src="{% static 'assets/images/face.png' %}" alt=""> facebook</button>
                        <button class="block "><img class="h-5 w-5 inline" src="{% static 'assets/images/youtube.png' %}" alt=""> twiter</button>
                        
                    </div>
                    <div>
                        Sort by <span class="inline-block h-12 w-6"><a href="#"><img class="inline-block" src="{% static 'assets/images/angle-small-down.png' %}" alt="social media"></a></span>
    
                    </div>
                  </div>
                </div>
        </section>
         {% include "partials/aside.html" %}

    </div>
</main>


{% endblock content %}
