<!-- npx tailwindcss -i ./src/input.css -o ./src/output.css --watch -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}tg-18{% endblock title %}</title> 
    <link rel="stylesheet" href="{% static "css/output.css" %}">
</head>
<body>
    <header class=" fixed top-0  z-[100] w-[100%] h-[70px] py-[10px]  lg:px-[80px] bg-purple-200">
        <div class=" lg:hidden mx-[30px] flex justify-between items-center">
            <div data-name="logo" class="h-8 w-[80px] self-center"><img id="profile" src="{% static 'assets/images/log1.png' %}" alt="logo"></div>
            <div data-name="menu" class="h-[15px] w-[20px] self-end"><img src="{% static 'assets/images/menu.png' %}" alt="hamburger menu"></div>
        </div>
     <div class="transition ease-in-out delay-75 duration-75 hidden  max-lg:bg-purple-300 m-auto lg:block"   id="hamburger-menu">
        <div class=" z-[100] px-[30px] py-[30px] lg:py-0 my-[25px] lg:my-0 lg:flex justify-between items-center">
            <nav>
                <ul class="mb-4 lg:inline-flex gap-6">
                    <li class="sublist-container pt-4 relative  ">
                        <a href="#" class="hover:text-purple-500">Home<img src="{% static 'assets/images/angle-small-down.png' %}" class="inline w-[15px] h-[15px]" alt=""></a>
                        <ul class="sub-list hidden  absolute h-auto top-14 rounded p-4 bg-purple-200 w-64  space-y-3">
                            <li><a href="{% url "core:home" %}">Home1</a></li>
                            <li><a href="{% url "core:home" %}">Home2</a></li>
                        </ul>
                    </li>
                    <li class="pt-4"><a href="../blog/aboutUs.html">About</a></li>
                    <li class="sublist-container pt-4 relative  ">
                        <span class="hover:text-purple-500">Categories<img src="{% static 'assets/images/angle-small-down.png' %}" class="inline w-[15px] h-[15px]" alt=""></span>
                        <ul class=" sub-list hidden absolute h-auto top-14 rounded p-4 bg-purple-200 w-64 space-y-3">
                            <li class=""><a href="category.html" class>All categories</a></li>
                            <li class=""><a class="hover:text-purple-400" href="#">Lifestyle</a></li>
                            <li class=""><a class="hover:text-purple-400" href="#">Business</a></li>
                            <li class=""><a class="hover:text-purple-400" href="#">Sport</a></li>
                            <li class=""><a class="hover:text-purple-400" href="#">Fashion</a></li>
                            <li class=""><a class="hover:text-purple-400" href="#">Video </a></li>
                            <li class=""><a class="hover:text-purple-400" href="#">Electricty</a></li>
                            <li class=""><a class="hover:text-purple-400" href="#">Electronic</a></li>
                        </ul>
                    
                    </li>
                    
                    <li class="pt-4"><a href="#">Page<img src="{% static 'assets/images/angle-small-down.png' %}" class="inline w-[15px] h-[15px]" alt=""></a></li>
                </ul>
            </nav>
            
            <div data-name="logo" class="h-8 w-[80px] my-2 "><img src="{% static 'assets/images/log1.png' %}" alt="logo"></div>
           
            <div class="mt-3 lg:mt-0 lg:inline-flex self-center">
                <div class="lg:inline-flex gap-6 self-center">
                    <div class="pt-3 lg:pt-0"><img src="{% static 'assets/images/fi-rr-search.svg ' %}" class="h-4 w-4 inline" alt=""> Search</div>
                    <div class="pt-3 lg:pt-0"><img src="{% static 'assets/images/edit.png ' %}" class="h-4 w-4 inline" alt=""> Edit</div>
                    <div class="pt-3 lg:pt-0"><a  href="../blog/contact.html" target="_blank">Contact</a></div>
                    <div class="pt-3 lg:pt-0"><a href="#">En<img src="{% static 'assets/images/angle-small-down.png' %}" class="inline w-4 h-4" alt=""></a></div>
                    </div>
                </div>
                <div class="mt-5 lg:mt-0">
                    <img src="{% static 'assets/images/fi-rr-settings.svg' %}" class="h-4 w-4 inline" alt="">
                </div>
            </div>
         </div>
    </div>
    </header>
    {% block content %}

    
    {% endblock content %}
    <footer class="bg-purple-100 relative px-5 lg:px-[80px] mt-28" >
       <div class="  justify-between flex flex-wrap py-10 lg:flex-nowrap gap-6">
            <div class="basis-1/4 max-sm:basis-1/2">
                <div class="mb-5">
                    <div data-name="logo" class="h-8 w-[80px] self-center"><img id="profile" src="{% static 'assets/images/log1.png' %}" alt="logo"></div>
                </div>
                <p class="text-gray-500 text-sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Maiores commodi odit saepe omnis harum tempora totam q
                </p>
            </div>
            <div data-title="blog" class="max-sm:basis-1/4">
                <h1 class="text-xl font-bold mb-5">Blog</h1>
                <ul class="text-gray-500 text-sm">
                    <li><a href="#">Travel</a></li>
                    <li><a href="#">Technology</a></li>
                    <li><a href="#">Sport</a></li>
                    <li><a href="#">Healt</a></li>
                    <li><a href="#">Lifestyle</a></li>
                    <li><a href="#">Business</a></li>
                </ul>
            </div>
            <div class="quick-links" class="max-sm:basis-1/2">
                <h1 class="text-xl font-bold mb-5">Quicks Links</h1>
                <ul class="text-gray-500 text-sm">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Terms and condition</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </div>
            <div data-title="contact" class="">
                <h1 class="text-xl font-bold mb-5">Suscribe for the news letter</h1>
                <div class="text-gray-500 text-sm">
                    <input type="email" class="input-style" placeholder=" your email"> 
                    <button type="submit" class="input-btn-style">Suscribe</button>
                </div>
                <div>
                    <h2 class="text-gray-500 font-bold text-xl my-3">follow on</h2>
                    <div>
                        <span class="inline-block h-12 w-6"><a href=""><img class="inline-block" src="{% static 'assets/images/face.png' %}" alt="social media"></a></span>
                        <span class="inline-block h-12 w-6"><a href=""><img class="inline-block" src="{% static 'assets/images/youtube.png' %}" alt="social media"></a></span>
                        <span class="inline-block h-12 w-6"><a href=""><img class="inline-block" src="{% static 'assets/images/linkedin.png' %}" alt="social media"></a></span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <hr class="bg-purple-800">
            <div class="py-4">
                Copyrigth © Franck Detagne 2024
            </div>
    </div>
    </footer>
    <script src="{% static "assets/js/test.js" %}"></script>
</body>
</html>