{% load static %}
  <section class="bg-gray-200 rounded-md">
    <div class="flex gap-5">
         <h1 class="text-2xl font-bold text-purple-700">
      
          Add Post
        </h1>
       
    </div>

  <!-- post form creation -->
  <section class=" p-2">
  
      <form action="{% url "author_p:edit-post" post.pid %}" enctype="multipart/form-data" method="POST" class="">
          
              {% csrf_token %}
              
              <div class="space-y-4 lg:flex gap-10 ">
                
                  <fieldset class="space-y-3 bg-white rounded-md p-4 basis-2/3">
                      <h3 class="text-xl text-gray-400">Post</h3>
                      <hr>
                          <p>
                              <label for="id_title">Post title<span class="text-red-600">*</span></label> <br>
                              {{form.title}}
                          </p>
                          <p>
                            <label for="id_slug">Post sulg<span class="text-red-600">*</span></label> <br>
                            {{form.slug}}
                          </p>
                          <p>
                            <label for="id_reading_time">reading time<span class="text-red-600">*</span></label> <br>
                            {{form.reading_time}}
                        </p>
                          <p>
                            
                              <input name="author" type="hidden" placeholder="Type the estimate reading time Ex:3 min " id="id_author" class="input-style" value="{{request.author.aid}}">
                          </p>
                          <p>
                              <label for="id_status">Status<span class="text-red-600">*</span></label> <br>
                              {{form.status}}
                          </p>
                          <p>
                              <label for="id_category">Category<span class="text-red-600">*</span></label> <br>
                              {{form.category}}
                          </p>
                  </fieldset>
                  <fieldset class="space-y-3  rounded-md  basis-1/2">
                    <div class="bg-white p-4 rounded-md">
                      <h3 class="text-xl text-gray-400">Image</h3>
                      <hr>
                      <img src="{{request.author.author_image.url}}" class="w-20 h-20 m-auto" alt="">
                      <p>
                         {{form.profile_image}}
                      </p>
                    </div>
                   
                  </fieldset>
              </div>
              <div class="mt-4">
                 
                  <fieldset class="space-y-3 bg-white rounded-md p-6">
                      <p>
                        <label for="id_description">post description:<span class="text-red-600">*</span></label>
                        {{form.description}}
                      </p>
                      <p>
                        <label for="id_content">Post Content:<span class="text-red-600">*</span></label>
                        {{form.content}}
                      </p>
                  </fieldset>
              </div>
              <div class="flex gap-4 mt-4">
                  
                  <div class="text-white">
                      <button type="submit" class="bg-purple-500 p-1 rounded hover:translate-y-1 hover:bg-purple-900">Publish</button>
                  </div>
            </div>
      </form>
  </section>

   
  </section>
  

        
