{% load static %}
  <section class="bg-gray-200 rounded-md">
    <div class="flex gap-5">
         <h1 class="text-2xl font-bold text-purple-700">
      
          Add Post
        </h1>
        <div class="flex gap-4">
          <div class="text-white">
              <button class="hover:bg-purple-500 p-1 hover:transition-all duration-100 rounded border border-purple-600 transition-all text-purple-500 hover:text-white">Save as Draft</button>
          </div>
          <div class="text-white">
              <button class="bg-purple-500 p-1 rounded hover:translate-y-1 hover:bg-purple-900">Publish</button>
          </div>
        </div>
    </div>

  <!-- post form creation -->
  <section class=" p-2">
  
      <form action="{% url "author_p:edit-post" post.pid %}" method="POST" class="">
          
          
              <div class="space-y-4 lg:flex gap-10 ">
                  <fieldset class="space-y-3 bg-white rounded-md p-4 basis-2/3">
                      <h3 class="text-xl text-gray-400">Post</h3>
                      <hr>
                          <p>
                              <label for="title">Post title</label> <br>
                              <input type="text" placeholder="Title" class="input-style">
                          </p>
                          <p>
                              <label for="slug">Slug <span class="text-red-600">*</span></label> <br>
                              <input type="text" placeholder="Type the post Slug field.." class="input-style">
                          </p>
                          <p>
                              <label for="slug">Description <span class="text-red-600">*</span></label> <br>
                              <input type="text" placeholder="Type the Post descrpiton.." class="input-style">
                          </p>
                          <p>
                              <label for="slug">Reading time <span class="text-red-600">*</span></label> <br>
                              <input type="text" placeholder="Type the estimate reading time Ex:3 min " class="input-style">
                          </p>
                          <p>
                              <label for="title">Status</label> <br>
                              <select name="status" id="status">
                                  <option value="none">None</option>
                                  <option value="draf">Publish</option>
                                  <option value="publish">Draft</option>
                              </select>
                          </p>
                          <p>
                              <label for="title">Category</label> <br>
                              <select name="category" id="category">
                                  <option value="None">None</option>
                                  <option value="none">Football</option>
                                  <option value="draf">Music</option>
                                  <option value="publish">Art</option>
                              </select>
                          </p>
                  </fieldset>
                  <fieldset class="space-y-3  rounded-md  basis-1/2">
                    <div class="bg-white p-4 rounded-md">
                      <h3 class="text-xl text-gray-400">Image</h3>
                      <hr>
                      <img src="../../images/12.jpeg" class="w-20 h-20 m-auto" alt="">
                      <p>
                          <input type="file">
                      </p>
                    </div>
                    <div class="bg-white p-4 rounded-md">
                      <p>
                          <label for="publis_date">Publish Date</label>
                          <input type="date">
                      </p>
                      <p>
                          <label for="publis_date">Publish time</label>
                          <input type="time">
                      </p>
                    </div>
                  </fieldset>
              </div>
              <div class="mt-4">
                  <label for="content">Text content<span class="text-red-700">*</span></label>
                  <fieldset class="space-y-3 bg-white rounded-md p-6">
                      
                      <textarea name="post_content" id="post_content" class="bg-gray-200 w-[100%] rounded-md" rows="10" placeholder="Your post content goes here.."></textarea>
                  </fieldset>
              </div>
              <div class="flex gap-4 mt-4">
                  <div class="text-white">
                      <button class="hover:bg-purple-500 p-1 hover:transition-all duration-100 rounded border border-purple-600 transition-all text-purple-500 hover:text-white">Save as Draft</button>
                  </div>
                  <div class="text-white">
                      <button type="submit" class="bg-purple-500 p-1 rounded hover:translate-y-1 hover:bg-purple-900">Publish</button>
                  </div>
                </div>
      </form>
  </section>

   
  </section>
  
 
