<table class="w-full table-auto border-collapse">
    <thead>
        <tr class="bg-purple-600 text-white text-left">
            <th class="px-4 py-2">post image</th>
            <th class="px-4 py-2">title</th>
            <th class="px-4 py-2">category</th>
            <th class="px-4 py-2">Status</th>
            <th class="px-4 py-2">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr class="hover:bg-purple-100 border-b odd:bg-gray-100">
            <td class="px-4 py-2"><img src="{{post.profile_image.url}}" class="w-10 h-10 rounded-md" alt="post image"></td>
            <td class="px-4 py-2 text-[16px] font-bold"><a href="{% url "author_p:edit-post" post.pid %}" class="text-purple-600 hover:underline post_edit_view">{{post.title|truncatewords:7}}</a></td>
            <td class="px-4 py-2">{{post.category}}</td>
            <td class="px-4 py-2">
                {{post.status}}
            </td>
            <td class="px-4 py-2 space-x-4">
                
                <a href="{% url "author_p:edit-post" post.pid %}" class="bg-purple-400 text-white px-3 py-1 text-sm rounded-md hover:bg-purple-500 post_edit_view">Edit</a>
                <a href="{% url "author_p:edit-post" post.pid %}" class="bg-white border border-purple-400 text-purple-400 px-3 py-1 text-sm rounded-md hover:bg-purple-50 post_delete_view">Delete</a>
                
            </td>
        </tr>
        {% endfor %}
       
    </tbody>
</table>