@tailwind base;
@tailwind utilities;
@tailwind components;
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@400;500;600;700&display=swap");
@layer utilities{
   
    .input-btn-style{
       @apply bg-purple-700 rounded-r p-1 w-32 text-white
    }
    .input-style:focus{
       @apply border-gray-700 outline-none
    }
    .text-author{
        @apply text-gray-400 max-md:text-[8px] text-[12px];
    }
    .btn-read-more{
        @apply bg-purple-500 inline-block cursor-pointer rounded p-1;
        transition: 0.3s ease-in-out;
    }
    .btn-read-more:hover{
        @apply bg-purple-400 inline-block cursor-pointer rounded p-1;
    }
    .box-shadow{
        @apply mb-5 shadow shadow-[#e7e7e7] p-1 rounded;
    }
    .btn-read-more-hover{
        @apply bg-purple-200 inline-block cursor-pointer rounded p-1;
        @apply text-[#2e2e2e];
    }
    .card-design{
        @apply inline-flex  w-[60%] lg:w-52 lg:h-auto;
    }
    .btn-style,.tag{
        @apply border w-12 rounded text-[12px] text-center bg-purple-300  p-1;
    }
    .btn-style:hover,.tag:hover{
        @apply border w-12 rounded text-[12px] text-center text-white bg-purple-500  p-1;
        @apply cursor-pointer;
    }
    .btn{
        transition: 0.3s ease-in-out;
    }
    .centerChild{
        top:40%;
        left:50%;
        transform: translate(-45%,-45%);
    }
    .centerChild1{
        top:-20%;
        left:30%;
   }
   .border-decoration::before{
        content: '';
        width: 100%;
        z-index: -1;
        height: 100%;
        position: absolute;
        @apply bg-purple-400;
        padding: 10px;
        border-radius: 10px;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
   }
   #sidebar::-webkit-scrollbar{width: 5px;height: 50px;}
   #sidebar::-webkit-scrollbar-track{background-color: transparent;}
   #sidebar::-webkit-scrollbar-thumb{
    @apply bg-purple-300;
     border-radius:10px;
   }
   .decoration{
    @apply bg-purple-500 text-white;
    
   }
   
   progress {
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
   
    overflow: hidden;
  }
  
  /* Style for WebKit browsers (Safari, Chrome) */
  progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 15px;
  }
  

  /* Style for Firefox */

  /* Progress label */
  #progressLabel {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
 
}

@layer components{
    input,textarea{
        @apply  p-2 rounded border border-gray-400 focus:border-none focus:bg-purple-50 focus:outline focus:shadow shadow-purple-300 outline-purple-200  bg-gray-200 w-full placeholder:text-gray-500;
    }
    p{
        @apply my-px;
    }
    *{
        -webkit-scroll: 15px;
        scrollbar-color: rgb(185, 85, 185);
        
    }
    
}