li.error{
    background-color: rgb(218, 43, 43);
}
li.success{
    background-color: rgb(43, 218, 116);
}
li.warning{
    background-color: rgb(218, 157, 43);
}
.text{
    font-size: 1rem;
}
li.message{
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

ul.messages{
    margin: 10px 80px;
    
    text-align: center;
}
.mb{
    margin-bottom: 10px;
}
@media screen and (max-width: 1020px){
    ul.messages{
        margin: 10px 10px;
    }
    .list{
        display: none;
    }
}
@media screen and (max-width: 1020px){

    .list{
        display: none;
    }
}

.hamburger-menu{
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    margin-bottom: 5px;
    transition: transform 0.3s ease-in-out;
}

.change .bar:nth-child(1){
    transform: rotate(45deg) translate(5px,6px);
}
.change .bar:nth-child(2){
    opacity: 0;
}
.change .bar:nth-child(3){
    transform: rotate(-45deg) translate(5px,-6px);
}





