li.error{
    background-color: rgb(218, 43, 43);
}
li.success{
    background-color: rgb(43, 218, 116);
}
li.warning{
    background-color: rgb(218, 157, 43);
}
li.message{
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

ul.messages{
    margin: 10px 80px;
    
    text-align: center;
}

.decor{
    background-color: rgb(151, 0, 151);
    color: white;
    font-weight: bold;
}